# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.egg
*.egg-info
dist/
build/
*.egg-info/
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# Virtual environment
venv/
*.venv
*.venv/
